{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li>Publish</li>
    <li class="active">User</li>
{% endblock %}

{% block content %}

    <a href="{{ path('app_view_publish_user_user_create') }}" class="btn btn-primary">New</a>
    <br>
    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>external id</th>
            <th>username</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td><a href="{{ path('app_view_publish_user_user_edit', {'user_id': l.id }) }}">{{ l.externalId }}</a></td>
                <td>{{ l.username }}</td>
                <td>{{ l.password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
