{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li class="active">Note</li>
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>external id</th>
                <th>city</th>
                <th>type</th>
                <th>photos</th>
                <th>price</th>
                <th>area</th>
                <th>contacts</th>
                <th>timestamp</th>
                <th>subways</th>
                <th>published</th>
                <th>published timestamp</th>
            </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.id }}</td>
                <td>{{ l.externalId }}</td>
                <td>{{ l.city }}</td>
                <td>{{ l.type }}</td>
                <td>
                    {% for photo in l.photos %}
                    <a href="{{ photo.high }}" target="_blank">photo&nbsp;{{ loop.index }}</a><br>
                    {% endfor %}
                </td>
                <td>{{ l.price }}</td>
                <td>{{ l.area }}</td>
                <td>
                    {{ l.contact.name }}<br>
                    <a href="{{ l.contact.link }}" target="_blank">{{ l.contact.link }}</a><br>
                    {% for phone in l.contact.phones %}
                    {{ phone }}<br>
                    {% endfor %}

                </td>
                <td>{{ l.timestamp }}</td>
                <td>
                    {% for subway in l.subways %}
                    {{ subway }}<br>
                    {% endfor %}
                </td>
                <td>{{ l.published }}</td>
                <td>{{ l.publishedTimestamp }}</td>

            </tr>
            <tr style="border-bottom: 2px solid #3e3f3a;">
                <td colspan="12">{{ l.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
