{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="">City</a></li>
    <li><a href="">Community publish</a></li>
    <li class="active">New</li>
{% endblock %}

{% block form %}

    <div class="form-group {{ (form.name.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Community' }}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group {{ (form.link.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.link, 'Link', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.link, {'attr': {'class': 'form-control', 'placeholder': 'http://community.com' }}) }}
            {{ form_errors(form.link) }}
        </div>
    </div>

    <div class="form-group {{ (form.group_id.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.group_id, 'User id', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.group_id, {'attr': {'class': 'form-control', 'placeholder': '123456' }}) }}
            {{ form_errors(form.group_id) }}
        </div>
    </div>

    <div class="form-group {{ (form.user_id.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.user_id, 'Name', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.user_id, {'attr': {'class': 'form-control', 'placeholder': '123456' }}) }}
            {{ form_errors(form.user_id) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }, 'label': 'Submit'}) }}
        </div>
    </div>

{% endblock %}
