{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li class="active">City</li>
{% endblock %}

{% block content %}

    <a href="{{ path('app_view_community_publish_create', {city_id: 1}) }}" class="btn btn-primary">New</a>
    <br>
    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>name</th>
            <th>city</th>
            <th>link</th>
            <th>group id</th>
            <th>user id</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.name }}</td>
                <td>{{ l.city }}</td>
                <td>{{ l.link }}</td>
                <td>{{ l.groupId }}</td>
                <td>{{ l.userId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
