{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li>Parse</li>
    <li><a href="{{ path('app_view_parse_record_record_list') }}">{{ record.name }}</a></li>
    <li><a href="{{ path('app_view_parse_record_source_list', {'record_id': app.request.get('record_id')}) }}">Source</a></li>
    <li class="active">{{ form.vars.value.city ? 'Edit' : 'New' }}</li>
{% endblock %}

{% block form %}

    <div class="form-group {{ (form.type.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.type, 'Type', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
            {{ form_errors(form.type) }}
        </div>
    </div>

    <div class="form-group {{ (form.link.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.link, 'Link', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.link, {'attr': {'class': 'form-control', 'placeholder': 'http://link.com' }}) }}
            {{ form_errors(form.link) }}
        </div>
    </div>

    <div class="form-group {{ (form.parameters.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.parameters, 'Parameters', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.parameters, {'attr': {'class': 'form-control', 'placeholder': '{}' }}) }}
            {{ form_errors(form.parameters) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }, 'label': 'Submit'}) }}
        </div>
    </div>

{% endblock %}
