<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <title>Control :: socrent</title>
</head>
<body>

{% if app.user %}

    {% include 'AppBundle:Layout:menu.html.twig' %}
    {% include 'AppBundle:Layout:modal.html.twig' %}

<ul class="breadcrumb">
    {% block breadcrumbs %}{% endblock %}
</ul>

{% endif %}

<div class="col-md-10 col-md-offset-1">
{% block content %}{% endblock %}

    {% if form is defined and form%}

    <div class="col-md-10 col-md-offset-1">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <fieldset>{% block form %}{% endblock %}</fieldset>

        {{ form_end(form) }}
    </div>

    {% endif %}

</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset('js/modal.js') }}"></script>
{% block js %}{% endblock %}

</html>
