<ul>
    <li>Black list
        <ul>
            <li><a href="{{ path('app_view_blacklist_description_list') }}">Description</a></li>
            <li><a href="{{ path('app_view_blacklist_person_list') }}">Person</a></li>
            <li><a href="{{ path('app_view_blacklist_phone_list') }}">Phone</a></li>
        </ul>
    </li>
    <li><a href="{{ path('app_view_city_city_list') }}">City</a></li>
    <li>Community
        <ul>
            <li><a href="{{ path('app_view_community_parse_list') }}">Parse</a></li>
            <li><a href="{{ path('app_view_community_publish_list') }}">Publish</a></li>
        </ul>
    </li>
    <li><a href="{{ path('app_view_note_note_list') }}">Note</a></li>
    <li><a href="{{ path('app_view_user_user_list') }}">User</a></li>
</ul>
<hr>