{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="">City</a></li>
    <li class="active">{{ form.vars.value.id ? 'Edit' : 'New' }}</li>
{% endblock %}

{% block form %}

    <div class="form-group {{ (form.name.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Saint Petersburg' }}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group {{ (form.short_name.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.short_name, 'Short name', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.short_name, {'attr': {'class': 'form-control', 'placeholder': 'spb' }}) }}
            {{ form_errors(form.short_name) }}
        </div>
    </div>

    <div class="form-group {{ (form.picture_link.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.picture_link, 'Picture link', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.picture_link, {'attr': {'class': 'form-control', 'placeholder': 'http://link.png' }}) }}
            {{ form_errors(form.picture_link) }}
        </div>
    </div>

    <div class="form-group {{ (form.has_subway.vars.errors|length ? 'has-error' : '') }}">
        {{ form_label(form.has_subway, 'Subway', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.has_subway, {'attr': {'class': 'form-control', 'placeholder': 'http://link.png' }}) }}
            {{ form_errors(form.has_subway) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }, 'label': 'Submit'}) }}
        </div>
    </div>

{% endblock %}
