{% extends '@App/Layout/layout.html.twig' %}

{% block content %}

    <a href="{{ path('app_view_city_city_create') }}">Add</a>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>designation</th>
            <th>photo</th>
            <th>note expire days</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.id }}</td>
                <td>{{ l.name }}</td>
                <td>{{ l.designation }}</td>
                <td>{{ l.noteExpireDays }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
